.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: #343A40;
    color: #F8F9FA;
}

.App p {
    margin: 0;
}

.button-width {
    width: 100px;
}

.dark-modal .modal-content {
    background-color: #212529;
    color: white;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}